/* ---- MAIN/GLOBAL STYLES ---- */
@font-face {
    font-family: Michroma;
    src: url(fonts/Michroma/Michroma-Regular.ttf);
}

body {
    margin: 0;
    font-family: "Michroma", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgray;
}

/* -- SCROLLBAR STYLE -- */

::-webkit-scrollbar {
    width: 0.4vw;
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0%); 
}

::-webkit-scrollbar-thumb {
    border-radius: 1vw;
    background: rgb(128, 128, 128); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(47, 79, 79); 
}

/* ---- CONTAINER STYLES ---- */
#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 0.3fr 1.5fr / 0.35fr 1.5fr;
}

#header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 1fr 0.5fr;
    gap: 0.2vh;
    padding: 1vh;
    background-image: url(images/varying-stripes.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 8px;
}

#sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template: 0.1fr 0.8fr 1fr / 1fr;
    gap: 2vh;
    background-image: url(images/rose-petals.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 8px;
}

#mainContent {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 1fr 0.95fr / 1fr 0.25fr;
    gap: 1vh;
    padding: 1vh;
}

/* -- HEADER STYLES -- */
#search {
    grid-area: 1 / 1 / 1 / 2;
    display: grid;
    grid-template: 1fr / 0.8fr 0.2fr ;
    align-items: center;
}

.interactIcon {
    width: auto;
    height: 3.5vh;
    margin: 0.3vw;
    padding: 0.2vw;
    border-radius: 50%;
    background-color: rgba(230, 230, 230, 40%);
    cursor: pointer;
}

.interactIcon:hover {
    background-color: rgba(240, 240, 240, 50%);
}

input {
    width: 45vw;
    height: 3vh;
    border: solid 0.1vw rgb(180, 180, 180);
    border-radius: 1vw;
    background-color: rgba(230, 230, 230);
    box-shadow: 0px 0px 0.2vw;
    font-family: inherit;
    font-size: 14px;
}

input:hover {
    background-color: rgba(240, 240, 240);;
}

input:focus {
    outline: none;
    border: solid 0.1vw rgb(100, 100, 100);
}

#account {
    grid-area: 1 / 2 / 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePic {
    margin: 0.2vw;
    border-radius: 50%;
}

#account>.profilePic {
    width: auto;
    height: 5vh;
    cursor: pointer;
}

#introduction {
    grid-area: 2 / 1 / 3 / 1;
    display: grid;
    grid-template: 1fr / 0.1fr 1fr;
    align-items: center;
}

#introduction>.profilePic {
    width: auto;
    height: 8vh;
}

#introduction>div {
    font-size: 18px;
    font-weight: 800;
}

#introSmlTxt {
    font-size: 13px;
}

#actions {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

button {
    width: 6vw;
    height: 4vh;
    border: solid 0.1vw rgb(200, 0, 0);
    border-radius: 1vw;
    background-color: rgb(200, 0, 0);
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(250, 0, 0);
}

/* -- SIDEBAR STYLES -- */
#sidebarTitle>div, .sidebarOpts>div {
    display: flex;
    align-items: center;
    margin: 2%;
}

#sidebarTitle>div>img {
    width: 4vw;
    height: 6vh;
}

.sidebarOpts {
    margin: 0vh 1vw;
}
 
.sidebarOpts>div {
    padding: 0.15vh;
    border: solid 0.1vw rgb(180, 180, 180);
    border-radius: 1vw;
    background-color: rgba(210, 210, 210, 50%);
    box-shadow: 0px 0px 0.1vw;
    font-weight: 800;
    cursor: pointer;
}

.sidebarOpts>div:hover {
    background-color: rgba(230, 230, 230, 50%);
}

.sidebarOpts>div>img {
    width: 3vw;
    height: 4vh;
}

/* -- MAINCONTENT STYLES -- */
#projectSec {
    height: 70vh;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template: 0.1fr 1fr / 1fr;
    padding: 1vw;
    overflow-y: auto;
}

h3 {
    margin: 1.5vh 0;
}

#cardHolder {
    display: grid;
    grid-template: repeat(auto-fit, 130px) / repeat(auto-fill, 350px);
    gap: 2vw;
    justify-content: center;
}

#cardHolder>div {
    display: grid;
    grid-template: 1fr / 0.03fr 1fr;
}

#cardHolder>div>span {
    border-radius: 1vw 0 0 1vw ;
    background-color: rgb(200, 0, 0);
    box-shadow: 0px 0px 0.2vw;
}

.card {
    height: 130px;
    display: grid;
    grid-template: 0.2fr 2fr 0.2fr / 1fr 0.7fr ;
    border-radius: 0 1vw 1vw 0;
    padding: 0.5vw;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(images/varying-stripes.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 0.2vw;
    cursor: pointer;
}

.card:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(images/varying-stripes.svg);
}

.cardTitle {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 14px;
    font-weight: 600;
}

.cardDesc {
    grid-area: 2 / 1 / 3 / 3;
    margin: 0.5vh 0 ;
    overflow-y: hidden;
    font-size: 12px;
}

.cardActions {
    grid-area: 3 / 2 / 4 / 3;
}

.card>div>img {
    width: 1.2vw;
    height: 3vh;
    padding: 0.1vw;
    border-radius: 50%;
}

.card>div>img:hover {
    background-color: rgba(150, 150, 150, 50%);
}

#noticeSec {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 0.1fr 1fr / 1fr;
    padding: 0.2vw;
}

#noticeSec>div, #creditSec>div {
    height: 30vh;
    overflow-y: auto;
    padding: 0.1vh;
    border-radius: 1vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(images/varying-stripes.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 0.2vw;
}

.noticeEntry {
    display: grid;
    grid-template: 0.1fr 1fr / 1fr;
    padding: 0.1vw;
    margin: 0.1vw;
    border-radius: 1vh;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.noticeEntry:hover {
    background-color: rgba(150, 150, 150, 50%)
}

.noitceSmlTxt {
    font-size: 12px;
    font-weight: 100;
    overflow-y: hidden;
}

.noticeDivide {
    width: 14vw;
    height: 0.2vh;
    margin: 0.5vh;
    border-radius: 1vh;
    background-color: rgb(200, 0, 0);
}

#creditSec {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 0.1fr 1fr / 1fr;
    padding: 0.2vw;
}