/* ---- MAIN/GLOBAL STYLES ---- */
@font-face {
    font-family: Michroma;
    src: url(fonts/Michroma/Michroma-Regular.ttf);
}

body {
    margin: 0;
    font-family: "Michroma", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ---- CONTAINER STYLES ---- */
#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 0.3fr 1.5fr / 0.35fr 1.5fr;
}

#header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 1fr 0.5fr;
    gap: 0.2vh;
    padding: 1vh;
    background-color: white;
    box-shadow: 0px 0px 15px;
}

#sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template: 0.1fr 0.8fr 1fr / 1fr;
    gap: 4vh;
    background-color: blue;
}

#mainContent {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 1fr 0.95fr / 1fr 0.25fr;
    gap: 1vh;
    padding: 1vh;
    background-color: aqua;
}

/* -- HEADER STYLES -- */
#search {
    grid-area: 1 / 1 / 1 / 2;
    display: grid;
    grid-template: 1fr / 0.8fr 0.2fr ;
    align-items: center;
}

.interactIcon {
    width: auto;
    height: 3.5vh;
    margin: 0.3vw;
    padding: 0.2vw;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 20%);
    cursor: pointer;
}

.interactIcon:hover {
    background-color: rgba(200, 200, 200, 50%);
}

input {
    width: 45vw;
    height: 3vh;
    border: solid 0.1vw rgb(180, 180, 180);
    border-radius: 1vw;
    background-color: rgb(180, 180, 180);
    box-shadow: 0px 0px 0.2vw;
    font-family: inherit;
    font-size: 14px;
}

input:hover {
    background-color: rgb(200, 200, 200);
}

input:focus {
    outline: none;
    border: solid 0.1vw rgb(100, 100, 100);
}

#account {
    grid-area: 1 / 2 / 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePic {
    margin: 0.2vw;
    border-radius: 50%;
}

#account>.profilePic {
    width: auto;
    height: 5vh;
    cursor: pointer;
}

#introduction {
    grid-area: 2 / 1 / 3 / 1;
    display: grid;
    grid-template: 1fr / 0.1fr 1fr;
    align-items: center;
}

#introduction>.profilePic {
    width: auto;
    height: 8vh;
}

#introduction>div {
    font-size: 18px;
    font-weight: 800;
}

#introSmlTxt {
    font-size: 13px;
}

#actions {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

button {
    width: 6vw;
    height: 4vh;
    border: solid 0.1vw rgb(200, 0, 0);
    border-radius: 1vw;
    background-color: rgb(200, 0, 0);
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(250, 0, 0);
}

/* -- SIDEBAR STYLES -- */
#sidebar>div>div>img {
    width: 5vw;
    height: 5vh;
}

#sidebar>div>div>svg{
    width: 5vw;
    height: 5vh;
}

#sidebar>div>div {
    display: flex;
    align-items: center;
    margin: 2%;
}

/* -- MAINCONTENT STYLES -- */
#projectSec {
    grid-area: 1 / 1 / 3 / 2;
    background-color: yellow;
}

#noticeSec {
    grid-area: 1 / 2 / 2 / 3;
    background-color: green;
}

#trendSec {
    grid-area: 2 / 2 / 3 / 3;
    background-color: violet;
}